<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="assets/download.jpg" alt="" />
        <ion-card-header>
          <ion-card-subtitle id="tralha">Bora começa</ion-card-subtitle>
          <ion-card-title class="text">Isso aqui é o Ionic, Belé?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>PRIMEIRO CARD</p>
        </ion-card-content>
      </ion-card>
</ion-content>
